<!-- <h1>Login</h1>
    ng-bind把应用程序数据绑定到html 
<div data-ng-bind="$ctrl.loginTitle"></div>

<div class="row">
    <form class="form-control">
        <div class="form-group"></div>
        <label class="col-md-6">{{'USER_NAME' | translate}}</label>
        <input class="col-md-6" name="username" type="text">
        <label class="col-md-6">Password</label>
        <input class="col-md-6" name="password" type="password">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" translate="LOGIN"></button>
        </div>
    </form>
</div> -->

<div class="container">
    <form class="form-signin" role="form">
        <h1 class="form-signin-heading" data-ng-bind="$ctrl.loginTitle"></h1>
        <!-- data-translate=XXX 等价 {{'USER_NAME' | translate}} -->
        <label class="col-md-6" data-translate="USER_NAME" />
        <input type="text" class="form-control" placeholder="username" ng-model="username" required autofocus>

        <label class="col-md-6" data-translate="Password" />
        <input type="password" class="form-control" placeholder="password" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit" translate="user" data-ng-click="$ctrl.userHandle()"></button>
    </form>
    <div>
        <p>您输入的用户名是：{{username}}</p>
    </div>
    <div class="row">
        <div id="divUserList" class="col-sm-10 userList">
            <!-- <div data-ng-repeat="user in $ctrl.users">
            <p class="pUser" data-ng-bind="user.name"></p>
            <p class="pUser" data-ng-bind="user.location"></p>
            <p class="pUser" data-ng-bind="user.age"></p>
          </div>
          <div data-ng-bind="$ctrl.users.length"></div> -->
            <p>------假数据是：------</p>
            <div data-ng-repeat="user in $ctrl.users">
                <p data-ng-bind="user.FIRST_NAME"></p>
                <p data-ng-bind="user.LAST_NAME"></p>
            </div>
            <!-- <p class="pUser" data-translate="ERROR_500"></p> -->
        </div>
    </div>
</div>