<!-- 
    <div>
        <p>当前用户是：{{username}}</p>
    </div>
    <div class="row">
        <div id="divUserList" class="col-sm-10 userList">
            <div data-ng-repeat="user in $ctrl.users">
            <p class="pUser" data-ng-bind="user.name"></p>
            <p class="pUser" data-ng-bind="user.location"></p>
            <p class="pUser" data-ng-bind="user.age"></p>
          </div>
          <div data-ng-bind="$ctrl.users.length"></div>
            <p>------假数据是：------</p>
            <div data-ng-repeat="user in $ctrl.users">
                <p data-ng-bind="user.FIRST_NAME"></p>
                <p data-ng-bind="user.LAST_NAME"></p>
            </div>
            <p class="pUser" data-translate="ERROR_500"></p>
        </div>
    </div>
</div> -->

<div class="container">
    <h5 data-ng-bind="$ctrl.currentUserType"></h5>
    <table class="table table-hover user-table">
      <thead>
        <tr>
          <th>RoleId</th>
          <th>UserName</th>
          <th>option</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in $ctrl.users">
          <td data-ng-bind="user.username"></td>
          <td data-ng-bind="user.password"></td>
          <td><button class="btn btn-primary" data-ng-click="$ctrl.filterUserName()" data-ng-bind="$ctrl.option"></button></td>
        </tr>
      </tbody>
    </table>
    <div>
      <input type="text" class="filter-ipt" name="username" data-ng-model="$ctrl.nameFilter" />
      <button class="btn btn-primary filter-btn" data-ng-click="$ctrl.filterUserName()">Filter</button>
    </div>
  </div>